<%= form_for [@question, @answer] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :answer, @question.question %><br />
    <%= f.text_field :answer %>
  </p>
  <p><%= f.submit %></p>
<% end %>
