<% title "Answers" %>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
  <% for answer in @answers %>
    <tr>
      <td><%= answer.question %></td>
      <td><%= answer.answer %></td>
      <td><%= link_to "Show", answer %></td>
      <td><%= link_to "Edit", edit_answer_path(answer) %></td>
      <td><%= link_to "Destroy", answer, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Answer", new_answer_path %></p>
