<% title "Survey" %>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= simple_format @survey.description %>
</p>
<p>
  <strong>Questions:</strong>
  <ul>
    <% @survey.questions.each do |question| %>
      <li><%= question.question %> (<%= question.answers.first.try(:answer) || "-" %>)</li>
    <% end %>
    <li><%= render "questions/form" %></li>
  </ul>
</p>

<p>
  <% if (first_question = @survey.questions.first) && first_question.persisted? %>
    <%= link_to "Take survey!", new_or_edit_question_answer_path(first_question) %> |
  <% end %>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
